<div id="create-plan-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="create-plan-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form id="create-plan-form" class="pl-3 pr-3" autocomplete="off">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-primary">
                    <h4 class="modal-title text-uppercase" id="create-plan-label">Create Plan</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">                    
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="plan-product">Select Product</label>
                            <select class="form-control select2" name="plan-product" id="plan-product" data-toggle="select2" required>
                                <option value="">Select</option>
                                <% products.forEach(product => { %>
                                    <option value="<%=product.id;%>"><%=product.name;%></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="form-group col-md-12">
                            <label for="plan-name">Name</label>
                            <input class="form-control" type="text" name="plan-name" id="plan-name" placeholder="Enter plan name" required />
                        </div>                        
                        <div class="form-group col-md-12">
                            <label for="plan-desc">Plan Description</label>
                            <textarea class="form-control resize-none" rows="5" name="plan-desc" id="plan-desc" placeholder="Enter Description" required></textarea>
                        </div>
                    </div>

                    <div class="form-row"><div class="form-group col-md-12"><h3>Billing Cycles</h3></div></div>
                    <div class="form-row mb-4">
                        <div class="form-group col-md-12 d-flex align-items-center">
                            <label>Plan Has Trial Period</label>
                            <div class="ml-5">
                                <input type="checkbox" name="has-trial-period" id="has-trial-period" data-switch="none"/>
                                <label for="has-trial-period" data-on-label="Yes" data-off-label="No"></label>
                            </div>
                        </div>
                    </div>
                    <div id="trial-period-section" class="form-row" hidden>
                        <div class="form-group col-md-12"><h4>Trial Period Cylcle Details</h4></div>
                        <div class="form-group col-md-4">
                            <label for="trial-period-frequency">Frequency</label>
                            <select class="form-control select2" name="trial-period-frequency" id="trial-period-frequency" data-toggle="select2">
                                <option value="">Select</option>
                                <option value="DAY">DAILY</option>
                                <option value="WEEK">WEEKLY</option>
                                <option value="MONTH">MONTHLY</option>
                                <option value="YEAR">YEARLY</option>
                            </select>
                        </div>                        
                        <div class="form-group col-md-4">
                            <label for="trial-period-price">Price</label>
                            <input data-toggle="touchspin" value="0" name="trial-period-price" id="trial-period-price" type="text" data-bts-prefix="$" />
                        </div>
                        <div 
                            class="form-group col-md-4" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title=""
                            data-original-title="Here Default Value is 1 Means this trial period last upto first frequency selected, for eg. WEEKLY -> 1 WEEK Trial"
                        >
                            <label for="trial-period-cycle">Total Cycles</label>
                            <input data-toggle="touchspin" name="trial-period-cycle" id="trial-period-cycle" type="text" value="1" data-bts-prefix="Cycles" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12"><h4>Subscription Cylcle Details</h4></div>
                        <div class="form-group col-md-4">
                            <label for="subscription-period-frequency">Frequency</label>
                            <select class="form-control select2" name="subscription-period-frequency" id="subscription-period-frequency" data-toggle="select2" required>
                                <option value="">Select</option>
                                <option value="DAY">DAILY</option>
                                <option value="WEEK">WEEKLY</option>
                                <option value="MONTH">MONTHLY</option>
                                <option value="YEAR">YEARLY</option>
                            </select>
                        </div>                        
                        <div class="form-group col-md-4">
                            <label for="subscription-period-price">Price</label>
                            <input name="subscription-period-frequency" value="1" id="subscription-period-price" data-toggle="touchspin" type="text" data-bts-prefix="$" required />
                        </div>
                        <div 
                            class="form-group col-md-4" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title=""
                            data-original-title="Here Default Value is  0 Means subscription period has Infinite Cycles until user unsubscribe"
                        >
                            <label for="subscription-period-cycle">Total Cycles</label>
                            <input name="subscription-period-frequency" id="subscription-period-cycle" data-toggle="touchspin" type="text" value="0" data-bts-prefix="Cycles" required />
                        </div>
                    </div>
                    <div class="form-row mt-4">
                        <div class="form-group col-md-3">
                            <label for="setup-fee">Setup Fee</label>
                            <input name="setup-fee" value="0" id="setup-fee" data-toggle="touchspin" type="text" data-bts-prefix="$" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="tax">Tax <small class="text-danger">(Tax Percentage % of Price)</small></label>
                            <input name="tax" id="tax" data-toggle="touchspin" value="10.00" type="text" data-step="0.1" data-decimals="2" data-bts-postfix="%" name="plan-tax" id="plan-tax" />
                        </div>                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Plan</button>
                </div>
            </div>
        </form>
    </div>
</div>