<meta charset="utf-8" />
<title>TacoChat - Admin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/img/favicon.png">
<link href="/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="light-style" />
<link href="/assets/css/app-modern-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
<link href="/css/custom.css" rel="stylesheet" type="text/css" />