<div class="left-side-menu left-side-menu-detached">
    <div class="leftbar-user">
        <a href="javascript: void(0);">
            <img src="/assets/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow-sm">
            <span class="leftbar-user-name text-capitalize"><%=user.name;%></span>
        </a>
    </div>
    <ul class="metismenu side-nav">
        <li class="side-nav-title side-nav-item">Navigation</li>
        <li class="side-nav-item"><a href="/admin" class="side-nav-link"><i class="uil-home-alt"></i><span> Dashboards </span></a></li>
        <li class="side-nav-title side-nav-item">Apps</li>
        <li class="side-nav-item"><a href="/admin/subscription-products" class="side-nav-link"><i class="uil-calender"></i><span>Subscription Products</span></a></li>
        <li class="side-nav-item"><a href="/admin/subscription-plans" class="side-nav-link"><i class="uil-calender"></i><span>Subscription Plans</span></a></li>
        <li class="side-nav-item"><a href="/admin/applications" class="side-nav-link"><i class="uil-calender"></i><span>Apps</span></a></li>
        <li class="side-nav-item"><a href="/admin/clients" class="side-nav-link"><i class="uil-calender"></i><span>Clients</span></a></li>
    </ul>
    <div class="clearfix"></div>
</div>